*{
    margin: 0;
    padding: 0;
}

.haomazoushi span{
    display: inline-block;
    font-size: 15px;
    margin-left: 20px;
    padding-right: 20px;
    color: black;
}




body{
    background-image: url("../../images/backgroundImg.png");
    background-size: cover;
}
button{
    outline:none;
    border: none;
}
a:visited{
    text-decoration:none;
    color: #ffffff;
}
a:hover{
    text-decoration:none;
    color: #ffffff;
}
.btn-zs{
    display: block;
    width: 20px;
    height: 130px;
    border-radius: 5px;
    background-color: #e62b5d;
    color: white;
    position: fixed;
    top: 210px;
    right: 100px;
    z-index: 100;
}
/*.leftnav{*/
/*position: fixed;*/
/*top:210px ;*/
/*left: 5px;*/
/*z-index: 100;*/
/*}*/
.rightnav{
    position: fixed;
    top:310px ;
    right: 5px;
    z-index: 100;
}
.allrnavli{
    height: 280px;
    overflow: hidden;
    transition: all .5s linear;
}
.rnavli{
    width: 70px;
    height: 70px;
    margin-top: 2px;
    line-height: 30px;
    background-color: rgba(255,255,255,0.8);
}
.rnavli img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.righthide{
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255,255,255,0.8);
}
.righthide img{
    width: 30px;
    height: 15px;
}
/*.leftnavtt{*/
/*width: 120px;*/
/*height:40px;*/
/*background-color: #e62b5d;*/
/*color: white;*/
/*border-radius: 5px 5px 0 0;*/
/*margin: 0;*/
/*line-height: 40px;*/
/*}*/
/*.navli{*/
/*width: 120px;*/
/*height:40px;*/
/*background-color: white;*/
/*color: #5e5e5e;*/
/*margin:2px auto;*/
/*}*/
/*.navli:hover{*/
/*cursor: pointer;*/
/*border-left: 3px solid #e62b5d;*/
/*}*/
/*.navli span:first-child{*/
/*margin: 0;*/
/*line-height: 40px;*/
/*color: #303030;*/
/*font-weight: bold;*/
/*}*/
/*.navli li:not(:first-child){*/
/*width: 120px;*/
/*height: 30px;*/
/*line-height: 30px;*/
/*display: none;*/
/*margin-left: 125px;*/
/*background-color: white;*/
/*}*/
/*.navli:hover .navli>ul>li>span:last-child{*/
/*display: block;*/
/*width: 10px;*/
/*height: 10px;*/
/*background-color: yellow;*/
/*transform: rotate(90deg)*/
/*}*/
/*.navli:hover li:first-child{*/
/*width: 245px;*/
/*height: 40px;*/
/*background-color: white;*/
/*}*/
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}
.listLogo{
    width: 156px;
    height: 77px;
    background-image: url("../../images/curveup.png");
    background-size: cover;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    font-weight: 500;
}

.listShow{
    width: 156px;
    height: 75px;
    background-image: url("../../images/curvedown.png");
    background-size: cover;
    overflow: hidden;
    margin-top: -20px;
    margin-left: 1px;
}
.isShowBtn{
    width: 120px;
    height: 25px;
    border: 2px solid #2fc6ba;
    color: #44bdb8;
    margin: 36px auto 0 auto;
    text-align: center;
    border-radius: 12px;
    line-height: 22px;
    font-size: 16px;
    cursor: pointer;
}
.listBox{
    width: 157px;
    border-right: 7px solid #27b0a8;
    border-radius: 15px 22px 11px 15px;
}
.list{
    background-color: #2fc6ba;
    color: white;
    width: 150px;
    overflow: hidden;
    margin-top: -25px;
    border-radius: 10px 19px 10px 10px;
    margin-bottom: 0px;
}
.hotTitle{
    width: 140px;
    height:30px;
    background-color: #31a9a5;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border-right: none;
    border-left: none;
    overflow: hidden;
    margin: 8px auto 3px auto;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing:6px;
}
.hotContent{
    width: 130px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}
.list>li{
    width: 140px;
    height:30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border-right: none;
    border-left: none;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto 3px auto;
}
.list>li:last-child{
    margin-bottom: 10px;
}
.list>li>a{
    background-color: #31a9a5;
    width: 140px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing:6px;
}
.minList>li{
    width: 130px;
    height: 25px;
    background-color: #2fc6ba;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
}
#smallList{
    width: 50px;
    height: 150px;
    position: absolute;
    left: -100px;
    top: 150px;
}
.smallContent{
    /*margin-top: 150px;*/
    width: 50px;
    height: 150px;
    border-radius: 0 15px 15px 0;
    background-color: #2fc6ba;
    overflow: hidden;
    cursor: pointer;
    /*display: none;*/
    border: 4px solid #27b0a8;
}
.smallContent>p{
    width: 30px;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.smallContent>p:first-child{
    margin-top: 17px;
}
.hotGame{
    margin: 2px auto;
    width: 140px;
    height: 30px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    border: 2px solid #f38b3f;
    background-color: rgba(243, 139, 63, 0.60);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    letter-spacing:6px;
}
.hotGame:last-child{
    margin-bottom: 4px;
}
.hotGame:hover{
    background-color: rgba(243, 139, 63, 0.90);
}

.allleft{
    width: 200px;
    position: fixed;
    top: 50px;
    left: 5px;
    z-index: 100;
}
.leftbox{
    position: absolute;
}
.leftbox ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 125px;
}
.leftbox>ul>li{
    margin: auto;
    cursor: pointer;
}
.rotatewords{
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    transform:rotate(-9deg);
    margin-top: 10px;
}
.leftlogo{
    background-image: url("../../images/leftlogo.png");
    background-size: 100%;
    width: 120px;
    height: 60px;
}
.lefttop{
    background-image: url("../../images/lefttop.png");
    background-size: 100%;
    overflow: hidden;
    width: 90px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
}
.leftlist{
    background-image: url("../../images/leftlist.png");
    background-size: 100%;
    overflow: hidden;
    width: 68px;
    height: 34px;
    font-size: 13px;
}
.leftlist p{
    margin-top: 5px;
}
.leftbtn{
    background-image: url("../../images/leftbtn.png");
    background-size: 100%;
    overflow: hidden;
    width: 90px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
}
.litlist{
    list-style: none;
    text-align: left;
    padding: 0;
    display: none;
    position: absolute;
}
.litlist span{
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align:center;
    font-size: 13px;
    color: #e62b5d;
    cursor: pointer;
}
.leftlit{
    width: 125px;
    height: auto;
    position: relative;
    z-index: 90;
}




.ifm{
    width: 1100px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
    background-color: white;
}
ul{
    list-style: none;
}
.caiz{
    margin: 10px;
}
.tab-pane>.active{
    background-color: #e62b5d;
    color: white;
}
.btn-xx{
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    color: #5e5e5e;
    border-radius: 5px;
}
.btn-xx:hover{
    background-color: #e62b5d;
    color: white;
}
.zst{
    color: black;
    text-align: center;
}
.navigation{
    display: inline-block;
}
.tb-bc{
    background-color: #bbbbbb;
    color: white;
}
.modal-finger{
    cursor: pointer;
}
.tb-lg{
    width: 800px;
}
#textar{
    display: block;
    resize:none;
}
.btn-zoushi{
    width: 20px;
    height: 80px;
    margin-top: 5px;
}
.btn-now{
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: white;
}
.btn-now:nth-child(1){
    background-color: #2fc6ba;
}
.btn-now:nth-child(2){
    background-color: #f38b3f;
}
.betsmall{
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url("../../images/betsmall.png");
    background-size: cover;
    background-color: white;
}
.betsmalldown{
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url("../../images/betsmallDown.png");
    background-size: cover;
    background-color: white;
}
.additional{
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #2fc6ba;
    color: white;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    border-radius: 15px;
}
.macSelection{
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #f38b3f;
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}
.two-btn{
    margin-top: 40px;
}
.betbig{
    width: 140px;
    height: 55px;
    margin-top: 10px;
    background-image: url("../../images/betbig.png");
    background-size: cover;
    background-color: white;
}
.betbigdown{
    width: 140px;
    height: 55px;
    margin-top: 10px;
    background-image: url("../../images/betbigDown.png");
    background-size: 144px 55px;
    background-color: white;
}
.btn-block{
    height: 30px;
    line-height: 30px;
    display: block;
    border-radius: 6px;
}
.btn-block:first-child{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.affirmMesg{
    width: 1100px;
    margin: 10px auto 0 auto;
    background-color: white;
    overflow: hidden;
    padding: 0px;
}
.jilu{
    padding: 0px;
}
.jilu ul{
    margin-top: 10px;
}
.recordItem{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    color: black;
    float: left;
    cursor: pointer;
}
.recordFirst{
    border-radius: 0px 15px 15px 0px;
    background-color: #2fc6ba;
    color: white;
}
.clearBtn{
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: black;
    border: 2px solid #2fc6ba;
    border-radius: 12px;
    float: right;
    background-color: white;
}
.recordText{
    width: 910px;
    height: 200px;
    margin-bottom: 5px;
    text-align: center;
    /*border: 1px solid red;*/
    clear: both;
    overflow-y: auto;
    display: none;
}
.tbtr{
    height: 40px;
    line-height: 40px;
}
.readybox{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word; //表格固定布局
}
.award-name{-o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width:100%; //超出部分显示省略号
}
.retextFirst{
    display: block;
}
tr>td{
    border-top: none!important;
}
.recordThead{
    background-color: #2fc6ba;
    color: white;
}
.deleteBtn{
    display: inline-block;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: black;
    border: 2px solid #2fc6ba;
    border-radius: 12px;
    background-color: white;
}
.otherText{
    color: #e62b5d;
}
#myform{
    display: inline-block;
}
#myform label{
    padding-right: 5px;
}
#myform input{
    outline: none;
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd;
    color:  #666666;
    transition: all .1s linear;
    background-color: white;
}
#myform input:hover{
    transform: scale(1.1);
    transition: all .1s linear;
    border: 1px solid #d0184a;
}
.times{
    width: 20px;
    height:20px;
}
.times-btn{
    width: 20px;
    height: 20px;
    line-height: 10px;
    text-align: center;
    border: 1px solid #dddddd;
    color: #666666;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
.times-btn1{
    width: 20px;
    height: 20px;
    line-height: 10px;
    text-align: center;
    border: 1px solid #dddddd;
    color: #666666;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
.disp-in{
    display: inline-block;
}
.bonus{
    width: 350px;
}



.allgames{
    display: none;
}
.allgames:first-child{
    display: block;
}
.gpone-nav{
    height: 50px;
    padding-left: 20px;
    background-color: #dddddd;
}
.gpone-nav .col-xs-10{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 750px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border-radius: 20px;
}
.gpone-nav .col-xs-2 a{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border-radius: 20px;
}
.allgames>div:nth-of-type(2) .numk{
    margin-top: 50px;
}
.numk{
    margin-top: 15px;
    margin-bottom: 0;
}
.numk>div>div>p{
    margin-top: 10px;
}
.nums{
    margin-left: 60px;
    list-style: none;
    display: inline-block;
    margin-top: -40px;
}
.nums>li{
    float: left;
    margin-left: 3px;
}
.num{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 24px;
    border: 2px solid  #dddddd;
    background-color: #f9f9f9;
    color: black;
    transition: all .1s linear;
    margin-right: 7px;
}
.num-btn{
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: black;
    box-shadow: 0px 2px 2px #dddddd;
    /*transition: all .1s linear;*/
}
.special-num{
    width: 60px;
    height: 40px;
    font-size: 15px;
    border-radius: 15px;
    background-color: #bcbcbc;
    color: white;
}
.num-btn:hover{
    border: 2px solid #27b0a8;
    /*transform: scale(1.2);*/
    /*transition: all .1s linear;*/
}
.num:hover{
    border: 2px solid #27b0a8;
    transform: scale(1.2);
    transition: all .1s linear;
}
.cntro-num{
    list-style: none;
    display: inline-block;
}
.cntro-num>li{
    float: left;
    margin-left: 10px;
}
.btn:hover{
    color: white;
}
.bg-red{
    color: rgb(238,178,63);
}
.bg-zi{
    background-color: #54cdc3;
    color: white;
}

.bg-fangzi{
    /*border: 2px outset #e62b5d;*/
    /*background:radial-gradient(#FF3067,#871B30);*/
    background-color: #54cdc3;
    color: white;
    transform: scale(1.2);
    border: 2px solid #27b0a8;

}
.bg-zi:hover{
    background-color: #54cdc3;
}
.bg-yel{
    background-color: rgb(238,178,63);
    color: white;
}
.headnav{
    /*overflow: hidden;*/
    width: 1100px;
    margin: auto;
    margin-top: 10px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.98);
    border: 3px solid #54cdc3;
    border-radius: 10px;
}
.headmain{
    width: 1100px;
    height: 110px;
    margin: auto;
    color: #dddddd;
}
.countdown{
    width: 100%;
    height: 110px;
    /*background-color: #47ce65;*/
    padding:20px 0;
}
.lottryTitle{
    font-size: 16px;
    color: black;
}
.topmid{
    border-radius: 15px;
    font-size:15px;
    margin: auto;
    text-align: center;
    color: black;
}
.numqi{
    color: #f41853;
}
.timecir{
    width: 30px;
    height: 50px;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    /*background-color: #dddddd;*/
    border-radius: 3px;
    /*box-shadow:1px 1px 2px #bcbcbc;*/
    background-image: url("../../images/rectangle.png");
    background-size: 30px 50px;
    display: inline-block;
    color:white;
    font-size:25px;
    margin-left: 3px;
}
.timewords{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 5px;
    font-size:20px;
}
.countdownmain{
    margin-top: 10px;
}
.countdownmain:last-child{
    width: 400px;
    height: 60px;
    overflow: hidden;
    /*border: 1px solid red;*/
    margin-top: 20px;
    margin-left: 40px;
}
.ing{
    width: 400px;
    height: 60px;
    text-align: center;
    /*border: 1px solid blue;*/
    display: inline-block;
    line-height: 0;
}
.ballcirbox{
    width: 800px;
    height: 60px;
    margin-left: -400px;
    /*border: 1px solid green;*/
}
.ballcir{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    text-align: center;
    line-height: 60px;
    border-radius: 70px;
    /*border: 2px solid whitesmoke;*/
    background-image: url("../../images/ball.png");
    background-size: 100%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.clearall{
    width:150px;
    height: 30px;
    background-color: #e62b5d;
    color: white;
    border-radius: 20px;
    float: right;
    margin-top: 40px;
    margin-right: 60px;
}
.delrep{
    width:150px;
    height: 30px;
    background-color: #d22b4e;
    color: white;
    border-radius: 20px;
    float: right;
    margin-top: 60px;
    margin-right: 60px;
}
.twords{
    display: none;
}
.wuxingwords{
    display: block;
}
.hisgame1{
    display: none;
}
.hisgameFirst{
    display: block;
}
.historyOpen span{
    display: inline-block;
    color: black;
    width: 111px;
    text-align: center;
}
.historyOpen li>span:nth-of-type(2){
    color: #f41853;
    margin-left: 15px;
}
.historyOpen ul{
    margin-bottom: 0px;
    width: 237px;
}
.historyOpen{
    position: absolute;
    top: 42px;
    /*left: 69px;*/
    z-index: 99;
    border: 2px solid #54cdc3;
    border-radius: 5px;
    margin-top: 0px;
    border-top: none;
    margin-left: 2px;
}
.moreHistory{
    background-color: rgba(255, 255, 255, 0.95);
    width: 237px;
    display: none;
}
.selectedBtn{
    background-color: #2fc6ba;
    width: 120px;
    border-radius: 10px;
    font-size:15px ;
    color: white;
    margin-left: -1px;
}
.hisTitleBtn{
    background-color: white;
    width: 120px;
    font-size:15px ;
    border-radius: 10px;
    color: black;
    margin-right: 2px;
}
.his_title{
    width: 245px;
    height: 25px;
    background-color: white;
    border-radius: 13px;
    border: 2px solid #2fc6ba;
    margin-left: -2px;

}
ul li{
    list-style: none;
}
.ulBox{
    width: 239px;
    height: 100px;
    overflow: hidden;
    margin-left: 2px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid #54cdc3;
    border-radius: 5px;
    margin-top: 0px;
    border-top: none;
}
.ulBox>ul>li{
    width: 237px;
    height: 25px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
}
.ulBox>ul>li>span {
    margin-right: 15px;
}
.ulBox>ul>li>span:nth-child(1){
    display: inline-block;
    color: black;
    width: 40px;
}
.ulBox>ul>li>span:nth-child(2){
    display: inline-block;
    color: black;
    width: 95px;
}
.ulBox>ul>li>span:nth-child(3){
    color: rgb(238,178,63);
    width: 60px;
    display: inline-block;
    margin-right: 0px;
    color: #f41853;
}
#firstUl{
    margin-bottom: 0px;
}
.openMore{
    width: 232px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    margin: 2px auto;
}
.hisball{
    width: 18px;
    height: 18px;
    background-color: #D22B4E;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    float: left;
    margin-right: 3px;
    color: white;
}



/*----------------------------------------返点*/
/* range控件 */

input[type=range] {
    outline:none;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 10px;
    margin: 8px 0;
    padding: 0 20px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type=range]:hover:before,
input[type=range]:hover:after {
    color: #608000;
}

input[type=range]:hover::-webkit-slider-runnable-track {
    background-color: #85b200;
}

input[type=range]:hover::-moz-range-track {
    background-color: #85b200;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: #85b200;
}

/*range前后图标*/

input[type=range]:before,
input[type=range]:after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    color: #000;
    text-align: center;
    font-family: "微软雅黑" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type=range]:before {
    left: 16px;
}
input[type=range]:after {
    right: 16px;
}

input[type=range]#sort_tra:before {
    content: "\e000";
}

input[type=range]#sort_tra:after {
    content: "\e001";
}

/*range中心圆点*/

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    margin-top: -7px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

input[type=range]::-ms-thumb {
    -ms-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}


/*range轨道*/

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-color: #aaa;
    border-radius: 4px;
    cursor: pointer;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    background-color: #aaa;
    border-radius: 4px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    border-color: transparent;
    color: transparent;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}

/*已达进度*/

input[type=range]::-ms-fill-lower {
    background-color: #85b200;
}

/*未达进度*/

input[type=range]::-ms-fill-upper {
    background-color: #aaa;
}

input[type=range]::-ms-ticks-before {
    display: none;
}
input[type=range]::-ms-ticks-after {
    display: none;
}
.control_num{
    width: 288px;
    height: 30px;
    margin-left: 61px;
}
.doublebtn{
    width: 45px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin-right: 3px;
    float: left;
    opacity: 1;
    cursor: pointer;
}
.funnums{
    font-size: 16px;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 2px solid  rgb(238,178,63);
    background-color: #bcbcbc;
    color: white;
}
.funnums:hover{
    border: 2px outset #e62b5d;
}
/*============================*/
#zhuan {
    position: relative;
    z-index: 88;
    left: -70px;
    top: 5px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 150px;
    text-align: center;
    background-color: #12a184;
    /*border: 1px solid black;*/
    opacity: 0;
}
#zhuan>div{
    width: 140px;
    height: 140px;
    line-height: 140px;
    border-radius: 140px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #e62b5d;
}
.midjiang{
    color: rgba(226,156,35,0.79);
    position: absolute;
    margin-left: -13px;
    margin-top: 55px;
    z-index: 99;
    opacity: 0;
}
.cir{
    width: 30px;
    height: 30px;
    background-image: url("../../images/ball.png");
    background-size: 100%;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    margin-left: 22px;
    margin-top: 22px;
    /*background-color: #e62b5d;*/
    opacity: 1;
}
.cirbord{
    margin-left: -5px;
    margin-top: -5px;
    width: 75px;
    height: 75px;
    transform-origin:75px 75px;
    border: 1px solid #585858;
    position: absolute;
}
.cirbord:nth-of-type(1){
    transform: rotate(72deg);
}
.cirbord:nth-of-type(2){
    transform: rotate(144deg);
}
.cirbord:nth-of-type(3){
    transform: rotate(216deg);
}
.cirbord:nth-of-type(4){
    transform: rotate(288deg);
}
.cirbord:nth-of-type(5){
    transform: rotate(360deg);
}
.tooltip-options:hover{
    color: rgba(210,43,78,0.79);
}